.card__container {
  height: 20vh;
  width: 10em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  
  img {
    width: 5.5em;
    height: 8em;
    object-fit: cover;
    margin-inline: auto;
  }

  .card__description {
    margin-top: 1em;
    line-height: 1.2em;
    text-align: left;
    font-size: 0.7em;
    width: 8em;
    color: black;

    span {
      font-size: 1.2em;
    }
  }
}
